.about-container {
    .card {
        border: none;
        border-top: none;

        .card-body {
            padding-left: 0;

            .card-img {
                width: 95px;
                height: 120px;
            }

            .card-title {
                color: #1C1F30;
                font-family: $Montserrat;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin: 20px 0 10px;
            }

            .card-text {
                color: #4D5060;
                font-family: $Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }
}