.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -26em;
    font-family: $font-family;
    padding: 80px 0 0;

    .signin {
        color: #FFF;
        text-align: right;
        font-family: $Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        a {
            color: $golden;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .banner-content {
        .title {
            color: $white;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 20px;
            font-family: $font-family;
        }

        .sub-content {
            color: $white;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            font-family: $font-family;
        }
    }

    .upload-container {
        border: 2px dashed #F3F4F6;
        padding: 10px;
        margin-top: $margin-top-40;
        cursor: pointer;
        
        .upload-file {
            text-align: center;
            padding: 58px 0;
            background: linear-gradient(90deg, #F3F4F6 0%, #F3F4F6 100%);
            backdrop-filter: blur(2px);

            .cloud-upload {
                width: 49px;
                height: 35.654px;
                position: relative;
                margin: 0 auto;
            }

            .file-name {
                color: #4D5060;
                font-family: $Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                padding: 20px 0;
            }

            .link-wrapper {
                column-gap: 6px;

                .link-text {
                    color: #0D99FF;
                    font-family: $Poppins;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }

                .gap-text {
                    color: $black;
                    font-family: $Poppins;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }

            .text {
                color: #5B5A5F;
                font-family: $Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }

    //1600 screens
    @media (min-width: $large-min) and (max-width: $large-max) {
        background-position-y: -18em;
    }

    //1440 screens
    @media (min-width: $medium-min) and (max-width: $medium-max) {
        background-position-y: -16em;
    }

    //1366 screens
    @media (min-width: $small-min) and (max-width: $small-max) {
        background-position-y: -14em;
    }

    //1280 screens
    @media (min-width: $laptop-min) and (max-width: $laptop-max) {
        background-position-y: -12em;
    }
}

.custom-tooltip {
    top: 70px !important;
    --bs-tooltip-bg: #fff;
    width: 600px;

    .tooltip-inner {
        max-width: 600px;
    }
}