.home-footer {
    .footer {
        padding: 0;
        height: 400px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #181818eb;
        }

        .container {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 40px;
        }
    }
}

.footer {
    padding: 40px 0;
    background-image: url(/bg/footer-bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;

    .copyright {
        color: #FFF;
        font-family: $Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .right-link {
        display: flex;
        column-gap: 24px;
        align-items: center;

        a {
            color: #FFF;
            font-family: $Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}