.contact-wrapper {
    background: #f8fbfd;

    .contact-container {
        background-image: url("../../../public/images/Get\ In\ Touch\ BG.svg");
        height: 710px;
        border-radius: 10px;
        position: relative;
        z-index: 9;
        padding: 60px;
        
        .form-container {
            margin-top: 40px;

            .form-label {
                color: #5A677E;
                font-family: $Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin-bottom: 15px;
            }

            .form-control {
                padding: 16px 20px;
                border-radius: 10px;
                border: 1px solid #D5DDEA;
                color: #5A677E;
                font-family: $Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                &:focus-visible {
                    outline: none;
                }

                &:focus {
                    box-shadow: none;
                }
            }
        }
    }
}